.h1_crypto_main{
    font-size: 40px;
    font-weight: 700;
    grid-column: 1/3;
}
.ton_state_div{
    background: #161616;
    border-radius: 26px;
    width: auto;
    height: auto;
    padding: 20px;
    grid-column: 3/3;
    grid-row: 1/3;
}
.ton_state_div > div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}
.ton_logo{
    width: 69px;
    height: 69px;
}
.ton_logo_text{
    font-size: 20px;
    font-weight: 700;
}
.ton_logo_text > p > span {
    font-size: 16px;
    font-width: 600;
    color: rgba(139, 139, 139, 1);
}
.ton_logo_text > p {
    margin: 0;
}
.new_collections{
    background: #161616;
    border-radius: 26px;
    width: auto;
    height: auto;
    padding: 20px;
}
.hot_collections{
    background: #161616;
    border-radius: 26px;
    width: auto;
    height: auto;
    padding: 20px;
}
.new_collections > p{
    display: flex;
    align-items: center;
    grid-gap: 5px;
    font-size: 20px;
    font-weight: 700;
}
.hot_collections > p{
    display: flex;
    align-items: center;
    grid-gap: 5px;
    font-size: 20px;
    font-weight: 700;
}
.collections_grid{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(139, 139, 139, 1);
    justify-content: space-between;
}
.collection_name_div{
    display: flex;
    align-items: center;
}
.collection_name_logo{
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: #0088CC;
    margin: 0 15px;
}
.collections_grid > * {
    margin-top: 15px;
    margin-bottom: 0;
}
.collections_grid > * > * {
    margin-top: 0;
    margin-bottom: 0;
}
.main_page_ton_info_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    grid-template-rows: auto auto;
    margin: 50px 0;
}
.main_page_filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_page_filters > div > button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 8px;
    margin: 0 5px;
}
.main_page_filters > div > button:hover {
    background: rgba(1, 51, 75, 1);
    color: #0088CC;
}
.filter_button_active{
    color: #0088CC;
    background: rgba(1, 51, 75, 1) !important;
}
.main_page_collections_div{
    background: rgba(22, 22, 22, 1);
    border-radius: 10px;
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    margin-bottom: 50px;
    margin-top: 10px;
    white-space: nowrap;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main_page_collections_div::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
}
.main_page_collections_div > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    width: 100%;
}
.main_page_collections_div > div > p {
    display: flex;
    align-items: center;
    width: 10%;
    min-width: 150px;
}
.main_page_pages_div{
    border: none !important;
    height: 50px;
    justify-content: center !important;
    grid-gap: 5px;
    position: relative;
    width: 100% !important;
}
.main_page_pages_div > button {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 700;
    background: #01324B;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
}
.main_page_collection_img{
    background: #01324B;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin-right: 20px;
}
.page_results{
    position: absolute;
    right: 2%;
    font-size: 16px;
    font-weight: 600;
    background: none;
    width: auto !important;
    color: #8B8B8B;
}
.page_num{
    background: none !important;
}
.page_num_active{
    background: #01324B !important;
    color: #0088CC;
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFFFFF;
    background: none;
    border-left: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle-right{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #FFFFFF;
    background: none;
    border-right: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader_div_colletions_hot{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
@media screen and (max-width: 1250px){
    .main_page_collections_div > div{
        width: fit-content;
    }
}
@media screen and (max-width: 1024px) {
    .main_page_ton_info_grid{
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
    }
    .ton_state_div{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .hot_collections{
        grid-row: 3/4;
    }
    .main_page_filters{
        flex-wrap: wrap;
        grid-gap: 10px;
    }
    .main_page_collections_div{
        overflow-x: scroll;
    }
}
@media screen and (max-width: 768px) {
    .page_results{
        display: none !important;
    }
    .main_page_ton_info_grid{
        grid-template-rows: auto auto auto auto ;
        grid-template-columns: auto;
        margin: 0 auto;
        width: 100%;
    }
    .ton_state_div{
        grid-column: 1/1;
        grid-row: 2/4;
        width: 100%;
    }
    .hot_collections{
        grid-row: 4/5;
        width: 100%;
    }
    .new_collections{
        grid-row: 5/6;
        margin-bottom: 50px;
        width: 100%;
    }
}