.main_container_slider{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.window_slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: calc(261px * 3 + 50px*2);
}
@media  only screen  and (max-width: 1024px){
    .window_slider{
        max-width: calc(261px * 2 + 50px*1);
    }
}
@media  only screen  and (max-width: 760px){
    .window_slider{
        max-width: calc(261px * 1 + 50px*0);
    }
}
.all_pages_slider{
    height: 100%;
    display: flex;
    grid-gap: 50px;

    transition: translate;
    transition-property: transform;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-1{
    background: black;
}
.item-2{
    background: white;
}
.item-3{
    background: blue;
}
.right_arrow_landing{
    border: none;
    background: none;
}
.left_arrow_landing{
    border: none;
    background: none;
    transform: scale(-1, 1);
}