.events_header{
    display: flex;
    justify-content: space-around;
}
.events_header > div > button {
    border: none;
    background: none;
    color: #FFFFFF;
}
.events_header > div {
    width: 50%;
    max-width: 400px;
    font-size: 40px;
    font-weight: 700;
}
.events_header > div > p > span {
    color: rgba(0, 136, 204, 1);
}
.collections_sort_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    padding-left: 30px;
}
.collections_sort_div > * {
    text-align: center;
    width: 25%;
    border: none;
    background: none;
    color: #FFFFFF;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event_page_collections{
    background: rgba(22, 22, 22, 1);
    margin: 10px 0;
    border-radius: 26px;
    padding: 10px 0;
}
.pages_buttons{
    border: none;
    background: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    margin: 0 3px;
    border-radius: 5px;
    padding: 3px 5px;
}
.pages_buttons:hover{
    background: rgba(0, 136, 204, 0.2);
    color: rgba(0, 136, 204, 1);
}
.pages_button_active{
    background: rgba(0, 136, 204, 0.2);
    color: rgba(0, 136, 204, 1);
}
.filter_button{
    border: none;
    background: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    margin: 0 3px;
    border-radius: 5px;
    padding: 3px 5px;
}
.filter_button:hover{
    background: rgba(0, 136, 204, 0.2);
    color: rgba(0, 136, 204, 1);
}
.filter_button_active{
    background: rgba(0, 136, 204, 0.2);
    color: rgba(0, 136, 204, 1);
}
.activites_type{
    background: #01324B;
    color: #0088CC;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 5px 0;
}
.activites_type_flex{
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
}
.help{
    color: black;
    background: rgba(0, 136, 204, 1);
    border-radius: 50%;
    padding: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.rating_event{
    font-size: 38px;
    font-weight: 700;
    background-color: #2AA5A0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card_name_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
.collections_pages{
    display: flex;
    justify-content: center;
    align-items: center;
}
.just_start{
    justify-content: start;
}