body {
  margin: 0;
  padding: 0;
  padding-top: 116px;
  font-family:'Segoe UI';
  color: #FFFFFF;
  background: rgba(29, 29, 33, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
button {
  color: #FFFFFF;
  cursor: pointer;
}